<div class="container my-5" id="about-us">
  <div class="row m-auto mb-5">
    <div class="col m-auto">
      <div class="col text-center">
        <i class="fas fa-baby fa-3x"></i>
      </div>
      <div class="col text-center mt-3">
        <span>Ручна робота</span>
      </div>
    </div>
    <div class="col m-auto">
      <div class="col text-center">
        <i class="fab fa-cotton-bureau fa-3x"></i>
      </div>
      <div class="col text-center mt-3">
        <span>100% коттон</span>
      </div>
    </div>
    <div class="col m-auto">
      <div class="col text-center">
        <i class="fas fa-box-open fa-3x"></i>
      </div>
      <div class="col text-center mt-3">
        <span>Швидка доставка</span>
      </div>
    </div>
  </div>
</div>
