
<div class="shadow-text">
  <div class="col-md-12 heading-section text-center my-5">
    <a id="contacts"></a>
    <h1 class="big">Кошик</h1>
    <h2 class="mb-4">Кошик</h2>
  </div>
</div>

<div class="container mb-5">
      <div class="row" *ngIf="positions.length !== 0; else empty">
        <div class="col-md-12 w-100" *ngFor="let position of positions; let i = index">
          <div *ngIf="positions[i]">
          <div class="row border d-mob-inl">
            <div class="col-1 text-center m-auto">
              <a (click)="onRemove(i)" style="cursor: pointer">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
              </a>
            </div>
            <div class="col m-auto p-0">
              <img [src]="position.imageSrc" alt="" width="150px" class="my-2">
            </div>
            <div class="col text-center m-auto">
              <h5>{{position.name | titlecase}}</h5>
            </div>
            <div class="col text-center m-auto">
              <h5>{{position.cost | currency:'UAH'}}</h5>
            </div>
            <div class="col text-center m-auto">
              <input class="form-control" type="number" [value]="position.quantity" max="5" [(ngModel)]="position.quantity" (change)="calcSum(i, $event.target.value)">
            </div>
            <div class="col text-center m-auto position-sum">
              <h5>{{position.cost * position.quantity | currency:'UAH'}}</h5>
            </div>
          </div>
        </div>
        </div>
      </div>
    <ng-template #empty class="text-center">
      <h1 class="m-auto my-5 text-center">Кошик пустий</h1>
    </ng-template>

  <div class="col-12 my-5" *ngIf="positions.length !== 0">
    <div class="row">
      <a type="button" class="text-decoration-none text-body" (click)="isPaymentCollapsed = !isPaymentCollapsed">
        <h4>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wallet2 pb-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 4l10-3A1.5 1.5 0 0 1 14 2.5v2h-1v-2a.5.5 0 0 0-.5-.5L5.833 4H2.5z"/>
            <path fill-rule="evenodd" d="M1 5.5A1.5 1.5 0 0 1 2.5 4h11A1.5 1.5 0 0 1 15 5.5v8a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-8zM2.5 5a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-11z"/>
          </svg>
          Оплата
        </h4>
      </a>
      <div [ngbCollapse]="isPaymentCollapsed">
        <hr>
        <ul>

          <li>
            <strong>Оплата на карту або безготівковий розрахунок</strong> <br>
            Після оформлення замовлення, з Вами зв'яжеться менеджер і, уточнивши всі деталі замовлення, вишле реквізити для оплати в sms-повідомленні або на e-mail.
          </li>
          <li>
            <strong>Післяплата(накладений платіж)</strong> <br>
            Оплата при отриманні можлива тільки після внесення передоплати в розмірі 200 грн. <br>
            На жаль, це вимушений захід. Мінімальна застава, у разі, якщо покупець не забере замовлення. <br>
            Решту суми, Ви оплачуєте при отриманні. При цьому додатково компанією Нова Пошта стягується комісія в розмірі 2% +20 грн від суми післяплати.
          </li>
          <li style="list-style-type: circle; font-size: smaller">
            Оплату можна провести в <strong> будь-який день </strong>
          </li>
          <li style="list-style-type: circle; font-size: smaller">
            Замовлення, прийняті протягом дня, будуть відвантажені <strong>наступного робочого дня</strong> за умови наявності на складі
          </li>
          <li style="list-style-type: circle; font-size: smaller">
            Доставку оплачує <strong>клієнт</strong>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="row mt-3">
      <a type="button" class="text-decoration-none text-body" (click)="isDeliveryCollapsed = !isDeliveryCollapsed">
        <h4>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5v7h-1v-7a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5v1A1.5 1.5 0 0 1 0 10.5v-7zM4.5 11h6v1h-6v-1z"/>
            <path fill-rule="evenodd" d="M11 5h2.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4.5h-1V5zm-8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
            <path fill-rule="evenodd" d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
          </svg>
          Доставка
        </h4>
      </a>
      <div [ngbCollapse]="isDeliveryCollapsed">
        <hr>
        <ul>
          <li>
            Доставка замовлення здійснюється в <strong>будь-який</strong> населений пункт України, де є представництво компанії <strong>"Нова Пошта"</strong>
          </li>
          <li>
            При отриманні необхідно мати документи, що підтверджують Вашу особу або встановлений додаток на вашому смартфоні "Нова Пошта"
          </li>
          <li>
            Розрахунок вартості доставки формується виходячи з наступних параметрів: <strong>габарити, вага, оціночна вартість, місце призначення.</strong>
          </li>
          <li>
            Доставку оплачує <strong>одержувач</strong> при отриманні.
          </li>
          <li>
            <strong>Обов'язково</strong>, при отриманні, в присутності представника Нової Пошти, необхідно перевірити комплектацію вантажу, наявність дефектів і пошкоджень.
            <br> У разі виявлення невідповідностей <strong>скласти акт-претензію.</strong> <br>
            <strong>Вантаж страхується</strong> відповідно його вартості, тому в разі пошкоджень або втрати <strong>автоперевізник</strong> компенсує його вартість <strong>повністю.</strong>
          </li>
          <li>
            Якщо з яких-небудь причин доставка Новою Поштою Вам <strong>незручна</strong>, повідомте про це в будь-які, зручні для вас, соцмережі, ми розглянемо Ваш випадок <strong>індивідуально.</strong>
          </li>
        </ul>
        <hr>
      </div>
    </div>
  <div class="row mt-3">
    <a type="button" class="text-decoration-none text-body" (click)="isInfoCollapsed = !isInfoCollapsed">
      <h4>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
          <circle cx="8" cy="4.5" r="1"/>
        </svg>
        Умови повернення та обміну
      </h4>
    </a>
    <div [ngbCollapse]="isInfoCollapsed" class="text-center">
      <hr>
      <span>
          Згідно з постановою Кабінету Міністрів України від 19 березня 1994 року № 172 "Про реалізацію окремих положень Закону України "Про захист прав споживачів" поверненню не підлягають: постільна білизна, рушники, покривала, пледи. Повернення можливе тільки через невідповідність замовлення або виявлення браку".
        </span>
      <hr>
    </div>
  </div>
</div>

  <div class="row" *ngIf="positions.length !== 0">
    <div class="col-md-12 text-center border d-flex flex-column" id="order-confirm">
      <ul class="list-unstyled text-left text-secondary mt-3">
        <li *ngFor="let position of positions">
          <span *ngIf="position.quantity !== 0">
            {{position.name | titlecase}} : {{position.cost  * position.quantity | currency:'UAH'}}
          </span>
        </li>
      </ul>
      <h2 class="font-weight-bold m-3">Сума: {{sum | currency:'UAH'}}</h2>
      <a type="button" class="btn btn-light m-auto mb-3" (click)="open(content)">Замовити</a>
    </div>
  </div>

<ng-template #content let-modal>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Особисті Дані Для Відправки</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Прізвище, Ім'я</label>
              <input
                type="text"
                class="form-control"
                id="recipient-name"
                [ngClass]="{'invalid-area': form.get('fullname').invalid && form.get('fullname').touched }"
                formControlName="fullname"
              >
              <div *ngIf="form.get('fullname').invalid && form.get('fullname').touched">
                <small
                  class="text-danger text-sm-left"
                  *ngIf="form.get('fullname').errors['required']"
                >Поле не може бути пустим</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="col-form-label">Email:</label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
                [ngClass]="{'invalid-area': form.get('email').invalid && form.get('email').touched }"
              >
              <div *ngIf="form.get('email').invalid && form.get('email').touched">
                <small
                  class="text-danger text-sm-left"
                  *ngIf="form.get('email').errors['required']"
                >Поле не може бути пустим
                </small>
                <small
                  class="text-danger text-sm-left"
                  *ngIf="form.get('email').errors['email']"
                >Введіть правильний email
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="phone-num" class="col-form-label">Номер Телефону:</label>
              <input type="tel"
                     class="form-control"
                     id="phone-num"
                     formControlName="tel"
                     [ngClass]="{'invalid-area': form.get('tel').invalid && form.get('tel').touched }"
              >
              <div *ngIf="form.get('tel').invalid && form.get('tel').touched">
                <small
                  class="text-danger text-sm-left"
                  *ngIf="form.get('tel').errors['required']"
                >Поле не може бути пустим
                </small>
                <small
                  class="text-danger text-sm-left"
                  *ngIf="form.get('tel').errors.minlength"
                > Мінімальна довжина: {{form.get('tel').errors.minlength.requiredLength}}
                  Ви ввели: {{form.get('tel').errors.minlength.actualLength}}
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="area" class="col-form-label">Область</label>
              <select
                name="area"
                id="area"
                (change)="getCities($event.target.value)"
                class="form-select"
                formControlName="area"
                [ngClass]="{'invalid-area': form.get('area').invalid && form.get('area').touched }"
              >
                <option value="Оберіть Область" selected="selected">Оберіть Область</option>
                <option *ngFor="let area of areas" value="{{area.value}}">{{area.label}}</option>
<!--                <option value="Оберіть Область" selected="selected">Оберіть Область</option>-->
              </select>
              <div>
                <small
                  *ngIf="form.get('area').invalid && form.get('area').touched"
                  class="text-danger text-sm-left"
                >Оберіть Область
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="city" class="col-form-label">Місто:</label>
              <select
                name="city"
                id="city"
                (change)="getDepartments($event.target.value)"
                class="form-select"
                formControlName="city"
                [ngClass]="{'invalid-area': form.get('city').invalid && form.get('city').touched }"
              >
                <option value="Оберіть Місто" selected="selected">Оберіть Місто</option>
                <option *ngFor="let city of cities" value="{{city.value}}">{{city.label}}</option>
              </select>
              <div>
                <small
                  *ngIf="form.get('area').invalid && form.get('area').touched"
                  class="text-danger text-sm-left"
                >Оберіть Місто
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="department" class="col-form-label">Відділення Нової Пошти:</label>
              <select
                name="department"
                id="department"
                class="form-select"
                formControlName="department"
                [ngClass]="{'invalid-area': form.get('department').invalid && form.get('department').touched }"
              >
                <option value="Оберіть Відділення" selected="selected">Оберіть Відділення Нової Пошти</option>
                <option *ngFor="let dep of departments" value="{{dep.value}}">{{dep.label}}</option>
              </select>
              <div>
                <small
                  *ngIf="form.get('area').invalid && form.get('area').touched"
                  class="text-danger text-sm-left"
                >Оберіть Відділення Нової Пошти
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="notes" class="col-form-label">Примітка до замовлення:</label>
              <textarea class="form-control" id="notes" formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
      <button type="submit" class="btn btn-outline-dark m-auto" [disabled]="form.disabled || form.invalid" (click)="setDepName()">Замовити</button>
    </div>
  </form>
  </ng-template>
</div>
