<div class="shadow-text">
  <div class="col-md-12 heading-section text-center my-5">
    <h1 class="big">Доставка</h1>
    <h2 class="mb-4">Доставка</h2>
  </div>
</div>

<div class="container mb-5" *ngIf="mainData">
  <div class="row m-auto d-mob-inl">
    <div class="col m-auto text-left p-0">
      <img src="{{mainData.leftImageSrc}}" alt="" width="100%">
    </div>
    <div class="col m-auto text-right p-0">
      <span class="p-2">
        {{mainData.textRight}}
      </span>
    </div>
  </div>
  <hr class="only-mob">
  <div class="row m-auto d-mob-inl">
    <div class="col m-auto text-left p-0">
      <span class="p-2">
                {{mainData.textLeft}}
      </span>
    </div>
    <div class="col m-auto text-right p-0">
      <img src="{{mainData.rightImageSrc}}" alt="" width="100%">
      <!--      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d663.9368181239452!2d25.92338182924264!3d48.26923789138323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDE2JzA5LjMiTiAyNcKwNTUnMjYuMSJF!5e0!3m2!1suk!2sua!4v1594141724164!5m2!1suk!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
      <!--      <img src="{{mainData.mainImageSrc}}" alt="" width="100%">-->
    </div>
  </div>
</div>
