.heading-section {
  position: relative;
}
.heading-section h2 {
  font-size: 2em;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
}
@media only screen and (max-width: 768px) {
  .card {
    border: thin solid rgba(0,0,0,0.1) !important;
  }
  .heading-section h2 {
    font-size: 1em;
  }
  .heading-section .big {
    font-size: 4em !important;
    position: absolute;
    top: -35px !important;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.04);
    font-weight: 400;
    letter-spacing: 1px;
  }
  .shadow-text {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.shadow-text {
  margin: 2em 0 !important;
  padding: 2em 0 !important;
}
.heading-section .big {
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  font-size: 10em;
  color: rgba(0, 0, 0, 0.04);
  font-weight: 900;
  letter-spacing: 1px;
}

.card {
  transition: 100ms;
}
.card  span, .card p{
  transition: 800ms;
}
.card:hover span {
  font-size: 1.1em;
  transition: 1s ease;
}
.card:hover span.old-price {
  font-size: small;
  transition: 1s ease;
}
.card:hover p {
  font-size: 1.2em;
  font-weight: bold;
  transition: 1s ease;
}
.text-decoration-none {
  color: black;
}
[type=button] {
  -webkit-appearance: none !important;
}
.m-center {
  margin: 0 auto;
}
.old-price {
  font-size: x-small;
  text-decoration: line-through;
  color: #00000073;
}
.sale-badge {
  border-radius: 10%;
  left: -2%;
  top: -2%;
  position: absolute;
  background-color: #fb4c4c;
  color: white;
  width: fit-content;
  padding: 0.2rem 0.5rem;
}
