.container-fluid {
  min-height: calc(100vh - 40px) !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar, .navbar-collapse {
  transition: 500ms;
}
@media only screen and (max-width: 768px) {
  footer {
    padding: 20px 0 30px 0 !important;
  }
}
footer {
  color: #000000;
  padding: 10px 0;
  width: 100%;
}
footer h5 {
  font-size: 0.9em;
}
footer a{
  text-decoration: none;
  color: #000000;
  margin: 0;
}
.badge {
  margin: -7px;
}
