<div class="shadow-text">
  <div class="col-md-12 heading-section text-center my-5">
    <a id="contacts"></a>
    <h1 class="big">Контакти</h1>
    <h2 class="mb-4">Контакти</h2>
  </div>
</div>


<div class="container soc-medias p-0">
  <div class="row">
    <div class="col m-auto text-center p-0">
      <a href="tg://resolve?domain=" target="_blank" class="text-body">
        <i class="fab fa-telegram-plane"></i>
      </a>
      <a href="https://www.instagram.com/baby_bedding_/" target="_blank" class="text-body">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="viber://add?number=380958372677" target="_blank">
        <i class="fab fa-viber"></i>
      </a>
      <a href="https://www.facebook.com/itssmal" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="mailto:babybedding.chernivtsi@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
  <div class="text-center mx-5">
    <a style="cursor: pointer" href="tel:+380958372677" >
      <h3 id="phone"><img class="mx-3 pb-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Vodafone_icon.svg/1020px-Vodafone_icon.svg.png" alt="" width="30px">+380958372677</h3>
    </a>
  </div>
</div>
